* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header .box-uno {
    width:100%;
    background-color: aquamarine;
    padding:10px 0px;
}

header .box-uno .contenitore {
    max-width:60%;
    margin:0 auto;
    background-color: gold;
}

header .box-uno .row {
    width:100%;
    display:flex;
    flex-direction:row;
}

header .box-uno .column-left {
    width:25%;
    border:1px solid black;
    text-align:left;
    padding:10px
}

header .box-uno .column-center {
    width:50%;
    border:1px solid black;
    text-align:center;
    padding:10px;
}

header .box-uno .column-right {
    width:25%;
    border:1px solid black;
    text-align:right;
    padding:10px
}

header .box-uno .column-center ul {
    list-style-type: none;
}

header .box-uno .column-center li {
    display:inline;
}

header .box-due {
    width:100%;
    background-color: blue;
    padding:30px 0px;
}

header .box-due .contenitore {
    max-width:50%;
    height:400px;
    margin:0 auto;
    background-color: pink;
}

header .box-due .content {

}

main .box-uno {
    width:100%;
    background-color: white;
    padding:30px 0px;
}

main .box-uno .contenitore {
    max-width:60%;
    margin:0 auto;
    height:400px;
}

main .box-uno .row {
    width:100%;
    display:flex;
    flex-direction:row;
}

main .box-uno .column-right {
    width:60%;
    border:1px solid black;
    background-color: lightskyblue;
    height:400px;
}

main .box-uno .column-left {
    width:40%;
    border:1px solid black;
    background-color: lavender;
    height:400px;
}

main .box-uno .content-right {

}

main .box-uno .content-left {

}

main .box-due {
    width:100%;
    background-color: lightgrey;
    padding:30px 0px;
}

main .box-due .contenitore {
    max-width:60%;
    margin:0 auto;
    height:400px;
}

main .box-due .row {
    width:100%;
    display:flex;
    flex-direction:row;
}

main .box-due .column-right {
    width:40%;
    border:1px solid black;
    background-color: lightskyblue;
    height:400px;
}

main .box-due .column-left {
    width:60%;
    border:1px solid black;
    background-color: lavender;
    height:400px;
}

main .box-due .content-right {

}

main .box-due .content-left {

}

main .box-tre {
    width:100%;
    background-color: white;
    padding:30px 0px;
}

main .box-tre .contenitore {
    max-width:60%;
    margin:0 auto;
    height:400px;
}

main .box-tre .row {
    width:100%;
    display:flex;
    flex-direction:row;
}

main .box-tre .column-right {
    width:60%;
    border:1px solid black;
    background-color: lightskyblue;
    height:400px;
}

main .box-tre .column-left {
    width:40%;
    border:1px solid black;
    background-color: lavender;
    height:400px;
}

main .box-tre .content-right {

}

main .box-tre .content-left {

}

main .box-quattro {
    width:100%;
    background-color: lightgrey;
    padding:30px 0px;
}

main .box-quattro .contenitore {
    max-width:60%;
    margin:0 auto;
    height:400px;
    background-color: green;
}

main .box-quattro .content {

}

footer .box-uno {
    width:100%;
    background-color: dimgrey;
    padding:30px 0px;
}

footer .box-uno .contenitore {
    max-width:60%;
    margin:0 auto;
    height:400px;
}

footer .box-uno .row {
    width:100%;
    display:flex;
    flex-direction:row;
}

footer .box-uno .column-left {
    width:30%;
    background-color: lightpink;
    border:1px solid black;
    text-align:left;
    height:400px;
}

footer .box-uno .column-right {
    width:70%;
    border:1px solid black;
    background-color: lightseagreen;
    text-align:center;
    height:400px;
    flex-direction: row;
}

footer .box-uno .mini-column {
    width: calc(100% / 4 - 6px);
    border:1px dashed white;
    height:398px;
    flex-wrap: wrap;
    display:inline-block; /* SBAGLIATOOOO DA RIVEDERE */
}

