* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.box-uno-header {
    width:100%;
    background-color: aquamarine;
    padding:10px 0px;
}

.contenitore-nav {
    max-width:60%;
    margin:0 auto;
    background-color: gold;
}

.row-nav {
    width:100%;
    display:flex;
    flex-direction:row;
}

.column-nav-1 {
    width:25%;
    border:1px solid black;
    text-align:left;
    padding:10px
}

.column-nav-2 {
    width:50%;
    border:1px solid black;
    text-align:center;
    padding:10px;
}

.column-nav-3 {
    width:25%;
    border:1px solid black;
    text-align:right;
    padding:10px
}

.column-nav-2 ul {
    list-style-type: none;
}

.column-nav-2 li {
    display:inline;
}

.box-due-header {
    width:100%;
    background-color: blue;
    padding:30px 0px;
}

.contenitore-header {
    max-width:50%;
    height:400px;
    margin:0 auto;
    background-color: pink;
}

.content-header {

}

main .box-uno {
    width:100%;
    background-color: white;
    padding:30px 0px;
}

main .contenitore-uno {
    max-width:60%;
    margin:0 auto;
    height:400px;
}

main .row-uno {
    width:100%;
    display:flex;
    flex-direction:row;
}

main .column-uno-right {
    width:60%;
    border:1px solid black;
    background-color: lightskyblue;
    height:400px;
}

main .column-uno-left {
    width:40%;
    border:1px solid black;
    background-color: lavender;
    height:400px;
}

main .content-uno-right {

}

main .content-uno-left {

}

main .box-due {
    width:100%;
    background-color: lightgrey;
    padding:30px 0px;
}

main .contenitore-due {
    max-width:60%;
    margin:0 auto;
    height:400px;
}

main .row-due {
    width:100%;
    display:flex;
    flex-direction:row;
}

main .column-due-right {
    width:40%;
    border:1px solid black;
    background-color: lightskyblue;
    height:400px;
}

main .column-due-left {
    width:60%;
    border:1px solid black;
    background-color: lavender;
    height:400px;
}

main .content-due-right {

}

main .content-due-left {

}

main .box-tre {
    width:100%;
    background-color: white;
    padding:30px 0px;
}

main .contenitore-tre {
    max-width:60%;
    margin:0 auto;
    height:400px;
}

main .row-tre {
    width:100%;
    display:flex;
    flex-direction:row;
}

main .column-tre-right {
    width:60%;
    border:1px solid black;
    background-color: lightskyblue;
    height:400px;
}

main .column-tre-left {
    width:40%;
    border:1px solid black;
    background-color: lavender;
    height:400px;
}

main .content-tre-right {

}

main .content-tre-left {

}